{% extends 'base.html.twig' %}

{% block metadescription %}{% endblock %}
{% block keywords %}{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}CyanoAlerte - Surveillance des Cyanobactéries{% endblock %}

{% block body %}
<main>
    <h1></h1>
    <section>
        <div id="map"></div>
    </section>
    <section>
        <input type="text" class="city" name="city" id="city" placeholder="Saisir une ville...">
            <ul id="cityResults"></ul>
        {# {{ include('components/_alertForm.html.twig') }} #}
    </section>
</main>

{% endblock %}
