{% extends 'base.html.twig' %}

{% block metadescription %}{% endblock %}
{% block keywords %}{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}{% endblock %}

{% block body %}
<main>
    <div id="map"></div>
</main>

{% endblock %}
