{% extends 'base.html.twig' %}

{% block metadescription %}{% endblock %}
{% block keywords %}{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}CyanoAlerte - Surveillance des Cyanobactéries{% endblock %}

{% block body %}
<main id="wrapper">
    <section>
        <div>
            <h1 class="custom-h1 text-green-800 pt-10">
                Protégez les eaux, <br>
                signalez les cyanobactéries
            </h1>
            <p class="custom-p py-6">
                Signalez et consultez les alertes de cyanobactéries dans les lacs, rivières et étangs.<br>
                Aidez à protéger la santé publique et l'environnement aquatique.
            </p>
        </div> 
        <div>
            {# image #}
        </div>
    </section>
    {% include 'components/_flashMessages.html.twig' %}
    <section class="px-10 pt-3 flex gap-6">
        {% include 'components/_map.html.twig' %}
        <section class="w-[40%]">
            <div class="p-5 bg-white custom-border mb-4">
                <h2 class="custom-h2 text-green-800 mb-4">Rechercher par zone</h2>
                <input type="text" class="zone w-full p-2 rounded border-gray-300 focus:border-blue-300 placeholder-gray-400" name="zone" id="zone" placeholder="Saisir une ville ou un département...">                    
                    <ul id="zoneResults" class="mt-2"></ul>
            </div>
            <div class="p-5 bg-white custom-border">
                <div class="flex justify-around pt-2 pb-6"> 
                    <h2 class="custom-h2 text-center flex items-center text-green-800">Nouvelle alerte</h2>
                    {{ include('components/_alertForm.html.twig') }}
                </div>
                <p class="text-center text-gray-600 py-6 border-t-2">
                    Signalez une suspision de cyanobactéries en remplissant le formulaire ou en cliquant directement sur la carte.
                </p>
            </div>
        </section>
    </section>
    <button><a href="{{ path('app_alerts') }}">Voir toutes les alertes</a></button>
</main>

{% endblock %}
