{% extends 'base.html.twig' %}

{% block metadescription %}{% endblock %}
{% block keywords %}{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}CyanoAlerte - Surveillance des Cyanobactéries{% endblock %}

{% block body %}
<main>
    <h1></h1>
    <section>
        <div id="map"></div>
    </section>
    <section>
        <select class="select-department" name="select-department" id="select-department">
            <option value="">Veuillez sélectionner un département</option>
            {% for department in departments %}
                <option value="{{ department.code }}">{{ department.nom }}</option>
            {% endfor %}        
        </select>
    </section>
</main>

{% endblock %}

{% block javascript %}

{% endblock %}
