{% extends 'base.html.twig' %}

{% block metadescription %}{% endblock %}
{% block keywords %}{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}CyanoAlerte - Surveillance des Cyanobactéries{% endblock %}

{% block body %}
<main>
    <h1></h1>
    <section>
        {# <div id="map"></div> #}
    </section>
    <section>
        {{ include('components/_alertForm.html.twig') }}
    </section>
</main>

{% endblock %}
