@layer components {
  .btn-hover-effect {
    @apply transition-all duration-500 bg-[length:140%_auto] hover:bg-right;
  }
  .custom-transition {
    @apply transition-all duration-300 ease-in-out;
  }
  .card-hover {      
    @apply transition-all duration-300 hover:scale-105 hover:-translate-y-2;
  }
}