@layer components {
    .hero {
        @apply relative h-screen w-full flex items-center;
    }
    .hero-figure {
        @apply absolute top-0 left-0 w-full h-full z-0;
    }
    .hero-content {
        @apply relative z-10 max-w-5xl mx-auto text-center flex flex-col justify-center items-center px-5;
    }
}