@layer components{
    *{
        @apply p-0 m-0 box-border;
    }
    html {
        @apply scroll-smooth bg-blue-50;
    }
    nav, footer {
        @apply font-display;
    }
    a {
        @apply cursor-pointer transition-colors duration-300;
    }
    #wrapper {
        @apply w-full bg-blue-50 min-h-screen;
    }
    .custom-h1-hero {
        @apply text-7xl font-medium font-display;
    }
    .custom-h1 {
        @apply text-5xl font-medium font-display;
    }
    .custom-h2 {
        @apply text-2xl;
    }
    .custom-h3 {
        @apply text-xl;
    }
    .custom-p {
        @apply text-lg/8 text-gray-600;
    }
    .custom-padding {
        @apply mx-10 my-14;
    }
    .custom-border {
        @apply rounded-xl shadow-lg;
    }
    .card-hover {
        @apply transition-transform duration-300 hover:scale-105;
    }
    .hero {
        @apply relative h-screen w-full flex items-center;
    }
    .hero-figure {
        @apply absolute top-0 left-0 w-full h-full z-0;
    }
    .hero-content {
        @apply relative z-10 max-w-5xl mx-auto text-center flex flex-col justify-center items-center px-5;
    }
}