<section class="w-[60%] bg-white custom-border overflow-hidden relative">
    <div id="map" class="w-full h-[600px]" style="cursor: crosshair !important; z-index:0;"></div>
    <div class="absolute top-4 right-4 bg-white p-3 rounded shadow-md text-sm z-[1]">
        <p class="font-semibold mb-2">Légende</p>
        <div class="space-y-1">
            <div class="flex items-center gap-2">
                <div class="w-4 h-4 bg-red-600 rounded-full"></div>
                <span>Élevée</span>
            </div>
            <div class="flex items-center gap-2">
                <div class="w-4 h-4 bg-orange-400 rounded-full"></div>
                <span>Modérée</span>
            </div>
            <div class="flex items-center gap-2">
                <div class="w-4 h-4 bg-green-600 rounded-full"></div>
                <span>Faible</span>
            </div>
        </div>
    </div>
    <p class="absolute bottom-4 left-4 bg-white/90 p-4 text-gray-600 rounded-2xl shadow-md text-medium [z-1]">
        💡 <span class="font-bold">Cliquez sur la carte</span> pour signaler une suspicion de cyanobactéries
    </p>
</section>