<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block metadescription %}{% endblock %}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="Manon CHAPELLE">
            
            <meta name="keywords" content="{% block keywords %}{% endblock %}">
            <meta name="robots" content="{% block robots %}{% endblock %}">   

            {# <meta property="og:title" content=""> #}
            {# <meta property="og:description" content=""> #}
            {# <meta property="og:image" content=""> #}
            
            {# <meta name="twitter:title" content=""> #}
            {# <meta name="twitter:description" content=""> #}
            {# <meta name="twitter:image" content=""> #}

        <title>{% block title %}{% endblock %}</title>
        {# <link rel="icon" href=""> #}
        
        {% block stylesheets %}
        {# Webpack Encore CSS #}
        {{ encore_entry_link_tags('app') }}
        {# leafletjs #}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
        {% endblock %}

        {% block javascripts %}
        {# leafletjs #}
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
        {# Webpack Encore JS #}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
