{% extends 'base.html.twig' %}

{% block metadescription %}{% endblock %}
{% block keywords %}{% endblock %}
{% block robots %}index, follow{% endblock %}

{% block title %}CyanoAlerte - Surveillance des Cyanobactéries{% endblock %}

{% block body %}
<main id="wrapper">
    <section class="hero">
        <figure class="hero-figure">
            <img 
                fetchpriority="high"
                loading="eager"
                decoding="async"
                src="{{ asset('images/lac.jpg') }}" 
                {# srcset="
                    ../images/lac-960.jpg 960w,
                    ../images/lac-1536.jpg 1536w,
                    ../images/lac-2048.jpg 2048w,
                    ../images/lac-2560.jpg 2560w
                "
                sizes="100vw" #}
                alt="Image de fond composé d'une forme géométrique"
                class="object-cover w-full h-full">
            <div class="absolute inset-0 bg-gradient-to-b from-black/50 via-black/20 to-transparent"></div>
        </figure>
        <div class="hero-content">
            <div class="backdrop-blur-sm bg-white/10 rounded-3xl p-8 lg:p-12 shadow-2xl border border-white/20 max-w-4xl">
                <h1 class="custom-h1 text-white drop-shadow-lg mb-6">
                    Protégez les <span class="text-blue-300 font-semibold">eaux</span>, <br>
                    signalez les <span class="text-green-300 font-semibold">cyanobactéries</span>
                </h1>
                <p class="custom-p text-white/90 drop-shadow-md mb-8 leading-relaxed">
                    Signalez et consultez les alertes de cyanobactéries dans les lacs, rivières et étangs.<br>
                    Aidez à protéger la santé publique et l'environnement aquatique.
                </p>
                <div class="flex gap-4 justify-center flex-wrap">
                   <twig:PrimaryButton 
                        text="Découvrir la carte"
                        class="font-medium text-lg hover:-translate-y-1"
                    />
                   <twig:SecondaryButton 
                        text="Dernières alertes"
                        class="font-medium text-lg"
                    />
                </div>
            </div>
        </div>
    </section>
    {% include 'sections/_flashMessages.html.twig' %}
    <section class="px-10 pt-3 flex gap-6">
        {% include 'sections/_map.html.twig' %}
        <section class="w-[40%]">
            <div class="p-5 bg-white custom-border mb-4">
                <h2 class="custom-h2 text-green-800 mb-4">Rechercher par zone</h2>
                <input type="text" class="zone w-full p-2 rounded border-gray-300 focus:border-blue-300 placeholder-gray-400" name="zone" id="zone" placeholder="Saisir une ville ou un département...">                    
                    <ul id="zoneResults" class="mt-2"></ul>
            </div>
            <div class="p-5 bg-white custom-border">
                <div class="flex justify-around pt-2 pb-6"> 
                    <h2 class="custom-h2 text-center flex items-center text-green-800">Nouvelle alerte</h2>
                    <twig:PrimaryButton 
                        id="signaler-btn"
                        text="Signaler"
                        class="text-lg"
                        modalToggle="crud-modal"
                        icon='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="w-5 h-5 fill-white group-hover:rotate-90 transition-transform duration-1000 origin-center"><path d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z"/></svg>'
                    />
                    {% include 'sections/_alertForm.html.twig' %}
                </div>
                <p class="text-center text-gray-600 py-6 border-t-2">
                    Signalez une suspision de cyanobactéries en remplissant le formulaire ou en cliquant directement sur la carte.
                </p>
            </div>
        </section>
    </section>
    <button><a href="{{ path('app_alerts') }}">Voir toutes les alertes</a></button>
</main>
{% endblock %}
