<header>
  <nav aria-label="Global" class="flex items-center justify-between p-3 lg:px-8">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5 flex items-center gap-3">
            <img src="{{ asset('images/logo.png')}}" alt="Logo Cyanoalerte" class="max-h-20 w-auto" />
            <div class="flex flex-col">
              <span class="text-xl font-semibold text-gray-800">CyanoAlerte</span>
              <span class="text-sm text-gray-600 hidden sm:block">Surveillance des cyanobactéries</span>
            </div>
          </a>
        </div>
        <div class="flex lg:hidden">
          <button type="button" command="show-modal" commandfor="mobile-menu" class="m-2.5 inline-flex items-center justify-center rounded-md p-2 text-gray-700">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" ta-slot="icon" aria-hidden="true" class="size-10">
              <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="#" class="text-lg text-gray-600 nav-gradient">Accueil</a>
          <a href="#" class="text-lg text-gray-600 nav-gradient">Guide</a>
          <a href="#" class="text-lg text-gray-600 nav-gradient">Contact</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="#" class="text-lg text-gray-600 nav-login">Se connecter <span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>

      <el-dialog>
        <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
          <div tabindex="0" class="fixed inset-0 focus:outline-none">
            <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-80 overflow-y-auto bg-white/30 backdrop-blur-lg p-6 sm:ring-1 sm:ring-gray-100/10">
              <div class="flex items-center justify-end">
                <button type="button" command="close" commandfor="mobile-menu" class="-m-2 rounded-md p-2.5 divide-gray-500">
                  <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" data-slot="icon" aria-hidden="true" class="size-10">
                    <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-400">
                  <div class="space-y-2 py-6">
                    <a href="#" class="mx-3 block rounded-lg px-3 py-2 text-2xl text-gray-600 hover:bg-white/5">Accueil</a>
                    <a href="#" class="mx-3 block rounded-lg px-3 py-2 text-2xl text-gray-600 hover:bg-white/5">Guide</a>
                    <a href="#" class="mx-3 block rounded-lg px-3 py-2 text-2xl text-gray-600 hover:bg-white/5">Contact</a>             
                  </div>
                  <div class="py-6">
                    <a href="#" class="mx-3 block rounded-lg px-3 py-2.5 text-2xl text-gray-600 hover:bg-white/5">Se connecter</a>
                  </div>
                </div>
              </div>
            </el-dialog-panel>
          </div>
        </dialog>
      </el-dialog>
  </header>